.dashboard-container {
    background-color: white;
    padding: 1.5rem; // Espaciado para móviles
    border-radius: 0.5rem; // Bordes redondeados
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); // Sombra
  
    .dashboard-title {
      font-size: 1.875rem; // Tamaño de fuente para el título
      color: #3b82f6; // Color azul
    }
  
    .dashboard-description {
      margin-top: 0.5rem; // Margen superior para descripción
      color: #4b5563; // Color gris
    }
  
    .logout-button {
      margin-top: 1rem; // Margen superior para el botón
      background-color: #f87171; // Color de fondo para el botón
      color: white; // Color de texto
      padding: 0.5rem 1rem; // Padding del botón
      border: none; // Sin borde
      border-radius: 9999px; // Bordes completamente redondeados
      cursor: pointer; // Cambiar el cursor al pasar por encima
      transition: background-color 0.3s ease; // Transición de color
  
      &:hover {
        background-color: #ef4444; // Color al pasar por encima
      }
    }
  
    .investments-section {
      margin-top: 1rem; // Margen superior para sección de inversiones
      width: 100%; // Ancho completo
  
      .investments-title {
        font-size: 1.25rem; // Tamaño de fuente para el título de inversiones
        font-weight: 500; // Peso de la fuente
      }
  
      .investments-list {
        margin-top: 0.5rem; // Margen superior para la lista de inversiones
  
        .investment-item {
          background-color: #f3f4f6; // Color de fondo para los elementos de inversión
          padding: 1rem; // Padding de los elementos de inversión
          border-radius: 0.375rem; // Bordes redondeados
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); // Sombra ligera
          margin-top: 0.5rem; // Margen superior entre elementos
        }
      }
    }
  }
  