<div class="dashboard-container">
  <h1>Dashboard</h1>
  
  <form [formGroup]="stockForm" (ngSubmit)="getStockData()">
    <div>
      <label for="ticker">Ticker:</label>
      <input id="ticker" type="text" formControlName="ticker">
    </div>
    <div>
      <label for="startDate">Start Date:</label>
      <input id="startDate" type="date" formControlName="startDate">
    </div>
    <div>
      <label for="endDate">End Date:</label>
      <input id="endDate" type="date" formControlName="endDate">
    </div>
    <button type="submit" [disabled]="!stockForm.valid">Get Stock Data</button>
  </form>

  <div *ngIf="stockData">
    <h2>Stock Data for {{ stockForm.get('ticker')?.value }}</h2>
    <pre>{{ stockData | json }}</pre>
  </div>

  <button (click)="logOut()" class="logout-button">Cerrar Sesión</button>
</div>

